$background-color: #f5f5f5;

$text-color-dark1: #343a40;
$text-color-dark2: #3f454b;
$text-color-light: #979da2;

$primary-color: #dc3545;
$secondary-color: #ffffff;

$add-btn: #233eae;
$hover-color: #f5f5f5;
$icon-color: #969da2;
$border-color: #dfdfdf;
$pagination-color: #dfdfdf;
$search-color: #f8f9fa;

$text-size-lg: 20px;
$text-size-md: 18px;
$text-size-sm: 16px;
$text-size-xs: 14px;
// $title-text-size: 20px;
// $amount-text-size: 18px;
// $btn-text-size: 16px;
// $header-text-size: 14px;
// $data-text-size: 14px;
// $search-text-size: 14px;
$img-size: 36px;
$icon-size-big: 17.49px;
